.container {
  display: flex;
  flex-direction: column;
  width: 100%;  
  height: calc(100% - 170px - 68px);
  background-color: rgb(129, 202, 202);
  background-image: linear-gradient(to right, #94FBCA, #C4FDE2);
  z-index: 1;
}