
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {    
  font-family: 'Roboto';
  font-style: normal;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  /* background-color: var(--background);  
  color: #2a2a2a; */
}

h1 {
  font-size: var(--fh1);
  letter-spacing: 0.41px;
}
h2 {
  font-size: var(--fh2);
  letter-spacing: 0.41px;
}
h3 {
  font-size: var(--fh3);
  letter-spacing: 0.38px;
  font-weight: 500;
}
h4 {
  font-size: var(--fh4);
  letter-spacing: 0.38px;
  font-weight: 500;
}
