:root {
    /*-------color------*/    
    --light: #c6f6d0;
    --dark: #e4d08a;
    --dim: #f7f3c1;

    --front-app: #f6f6f6;
    --background: #6d597d;    

    /*-------fonts------*/
    --fh1: 26px;
    --fh2: 22px;
    --fh3: 20px;
    --fh4: 18px;
    --fd: 16px;
    --fp: 14px;
    --fs: 12px;
  }
  