:root {
    /*-------color------*/    
    --green: #38CD8E;
    --green-o: #38cd8f42;

    --light: #edf2f2;    
    --dark: #102426;    

    /*-------fonts------*/
    --fh1: 36px;
    --fh2: 27px;
    --fh3: 24px;
    --fh4: 18px;
    --fd: 15px;    
  }
  